<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lazy2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D5E59DF1C9FE83A00FC948F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D5E59F81C9FE83A00FC948F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D5E5A031C9FE83B00FC948F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
